<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="src/css/main.css"> 
  <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
    <div class="container">
        {{> "./src/templates/chat.hbs"}}
    </div>

    <script src="./src/index.js"></script>
</body>
</html>